
virtualenv
*.pyc
__pcache__/
config/forexrate/forex data/cleaned_usd_jpy_10_years.csv
config/forexrate/forex data/cleaned_usd_cny_10_years.csv
config/forexrate/forex data/cleaned_eur_usd_10_years.csv
config/forexrate/forex data/cleaned_usd_cad_10_years.csv
config/forexrate/forex data/cleaned_gbp_usd_10_years.csv

config/forexrate/forex data/eur_usd_10_years.csv
config/forexrate/forex data/gbp_usd_10_years.csv
config/forexrate/forex data/usd_cad_10_years.csv
config/forexrate/forex data/usd_cny_10_years.csv
config/forexrate/forex data/usd_jpy_10_years.csv


config/forexrate/forex data/prepared_eur_usd_data.csv
config/forexrate/forex data/prepared_gbp_usd_data.csv
config/forexrate/forex data/prepared_usd_cad_data.csv
config/forexrate/forex data/prepared_usd_cny_data.csv
config/forexrate/forex data/prepared_usd_jpy_data.csv


config/intrestratesandeconomicdata/data/intrest_rates/bgp.csv
config/intrestratesandeconomicdata/data/intrest_rates/cad.csv
config/intrestratesandeconomicdata/data/intrest_rates/cny.csv
config/intrestratesandeconomicdata/data/intrest_rates/eur.csv
config/intrestratesandeconomicdata/data/intrest_rates/usd.csv


config/intrestratesandeconomicdata/data/intrest_rates/processed_bgp.csv
config/intrestratesandeconomicdata/data/intrest_rates/processed_cad.csv
config/intrestratesandeconomicdata/data/intrest_rates/processed_cny.csv
config/intrestratesandeconomicdata/data/intrest_rates/processed_eur.csv
config/intrestratesandeconomicdata/data/intrest_rates/processed_usd.csv
config/intrestratesandeconomicdata/data/intrest_rates/processed_jpy.csv

config/intrestratesandeconomicdata/data/intrest_rates/merged_forex_interest_rates.csv


config/intrestratesandeconomicdata/data/CPI/bgp_inflation_rate.csv
config/intrestratesandeconomicdata/data/CPI/euro_inflation_rate.csv
config/intrestratesandeconomicdata/data/CPI/cad_inflation_rate.csv
config/intrestratesandeconomicdata/data/CPI/cny_inflation_rate.csv
config/intrestratesandeconomicdata/data/CPI/JPY_inflation_rate.csv
config/intrestratesandeconomicdata/data/CPI/usa_inflation_rate.csv
config/intrestratesandeconomicdata/data/CPI/final_inflation_differentials_rate.csv


config/intrestratesandeconomicdata/data/Unemployment rate/cad_unemployment_rate.csv
config/intrestratesandeconomicdata/data/Unemployment rate/cny_unemployment_rate.csv
config/intrestratesandeconomicdata/data/Unemployment rate/eur_unemployment_rate.csv
config/intrestratesandeconomicdata/data/Unemployment rate/gbp_unemployment_rate.csv
config/intrestratesandeconomicdata/data/Unemployment rate/jpy_unemployment_rate.csv
config/intrestratesandeconomicdata/data/Unemployment rate/usa_unemployment_rate.csv
config/intrestratesandeconomicdata/data/Unemployment rate/final_unemployment_rate.csv



config/intrestratesandeconomicdata/data/GDP/cad_gdp_growth_rate.csv
config/intrestratesandeconomicdata/data/GDP/cny_gdp_growth_rate.csv
config/intrestratesandeconomicdata/data/GDP/eur_gdp_growth_rate.csv
config/intrestratesandeconomicdata/data/GDP/gbp_gdp_growth_rate.csv
config/intrestratesandeconomicdata/data/GDP/jpy_gdp_growth_rate.csv
config/intrestratesandeconomicdata/data/GDP/usa_gdp_growth_rate.csv
config/intrestratesandeconomicdata/data/GDP/final_gdp_growth_rate.csv


config/forexrate/data/currency index/cad.csv
config/forexrate/data/currency index/cny.csv
config/forexrate/data/currency index/euro.csv
config/forexrate/data/currency index/gbp.csv
config/forexrate/data/currency index/jpy.csv
config/forexrate/data/currency index/usd.csv
config/forexrate/data/currency index/merged_currency_indexes.csv


config/forexrate/data/cot/eur_usd_cot.csv
config/forexrate/data/cot/gbp_usd_cot.csv
config/forexrate/data/cot/usd_cad_cot.csv
config/forexrate/data/cot/usd_jpy_cot.csv


config/forexrate/data/Trade balance/cad_trade_balance.csv
config/forexrate/data/Trade balance/cny_trade_balance.csv
config/forexrate/data/Trade balance/euro_trade_balance.csv
config/forexrate/data/Trade balance/gbp_trade_balance.csv
config/forexrate/data/Trade balance/jpy_trade_balance.csv
config/forexrate/data/Trade balance/us_trade_balance.csv
config/forexrate/data/Trade balance/cleaned_data_trade_balance.csv

config/forexrate/data/oil rates/brent.csv
config/forexrate/data/oil rates/Dubai Crude.csv
config/forexrate/data/oil rates/wti.csv
config/forexrate/data/oil rates/updated_wti.csv
config/forexrate/data/oil rates/updated_brent.csv
config/forexrate/data/oil rates/updated_Dubai_Crude.csv


config/forexrate/data/sentiment index/cad_sentiment_index.csv
config/forexrate/data/sentiment index/cny_sentiment_index.csv
config/forexrate/data/sentiment index/euro_sentiment_index.csv
config/forexrate/data/sentiment index/jpy_sentiment_index.csv
config/forexrate/data/sentiment index/UK_sentiment_index.csv
config/forexrate/data/sentiment index/usa_sentiment_index.csv